*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
    padding: 0;
}
header {
    border:1px solid;
    display: flex;
    background-color:#0277BD;
}
#vacio{
    width: 10%;
}
#titulo{
    width: 80%;
}
#icono{
    width: 10%;
 }
 header img{
     width: 80%;
     align-content: center;
     margin-top:25px;
     margin-left:5px;
 }
 header h1{
   text-align: center;
   
}

#completo{
    border:1px solid;
}
.iconos{
    display: flex; 
    background-color:#0277BD;
}
.iconos img{
    height: 20%;
    margin-left: 10px;
}
.iconos img:hover{
    transition: 1s;
    animation:spin 2s linear ; 
    transform:rotate(360deg); 

}

.Tarea{
    border:3px solid;
    margin-bottom:20px;
    margin-top:20px;
    margin-left: 20px;
    margin-right:20px;
    background-color: #B3E5FC;
    
}
.Tarea:hover{
 border-color:blue;
 transform:scale(1.15);
}
.Tarea h2{
   text-align: center;
}
.Tarea p{
   margin:15px;
 }
.iconos img{
    width: 8%;
}
#footer{
    display:none;
    background-color:#0277BD;
}
footer div img:hover{
    transition: 1s;
    transform:rotateY(360deg) scale(1.5);
}

@media only screen and (min-width: 728px){
#completo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

header img{
    width: 70%;
}
#footer{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25%;
    border-bottom:1px solid;
    border-right:1px solid; 
    border-left:1px solid;
}
#nombre{
    font-size: 23px;
    margin-left: 20px;
}
#redesSociales{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    width: 300px;
    margin-top:5px;
    margin-bottom:30px; 
    margin-right: 10px;
    border-radius: 15px;
}
#redesSociales div{
    width: 20px;
    height: 50px;
    margin-left: 8px;
    margin-top:3px;

}
footer div>img{
    width: 30px;
    height: 50px;
   color:white; 
}
}

@media only screen and (min-width: 1024px){
    #completo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    header img{
        width: 70%;
    }
    header h1{
        font-size: 50px;
     }
    #nombre{
        font-size: 27px;
    }
    #footer{
        grid-gap: 20%;
    }
    #redesSociales{     
        width: 400px;
    }
    footer div>img{
        width: 40px;
        height: 60px;
    }
}
@media only screen and (min-width: 1124px){
    .Tarea{
        margin-left: 35px;
        margin-right:35px;
    }
    header img{
        width: 60%;
        margin-top:34px;
    }
    header h1{
        font-size: 50px;
     }
    #footer{     
        grid-gap: 30%;
    }
    #nombre{
        font-size: 30px;
    }
    #redesSociales{
        width: 450px;
        grid-gap: 40px ;
        margin-top:20px;
    }
    #redesSociales div{    
        height: 60px;   
    }

}